@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}
:root{
    --red:#73C883;
    --white:#fff;
    --dark:#1e1c2a;
}
body{
    color: var(--dark);
    background: var(--white);
}

header {
  display: block;
z-index: 3;

}

h1 {
    margin: 0;
}

.card {
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 20px;
}

a {
    color: #000000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#backk:hover{color:#73C883;}

.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 40px;
    box-shadow: 0 0.1rem 0.5rem #ccc;
    width: 100%;
    background: var(--white);
    transition: all 0.5s;
    position: fixed;
    top:0;
    z-index:99999;
}
.navigation img{
    max-height: 50px;
}
.navigation .logo{
    color: var(--red);
    font-size: 1.7rem;
    font-weight: 600;
}
.logo span{
    color: var(--dark);
}
.navigation ul{
    display: flex;
    align-items: center;
    gap: 5rem;
}
.navigation ul li a{
    color: var(--dark);
    font-size: 17px;
    font-weight: 500;
    transition: all 0.5s;
    margin-bottom: 100px;
}
.navigation ul li a:hover{
    color: var(--red);
}
.navigation i{
    cursor: pointer;
    font-size: 1.5rem;
}
.menu{
    cursor: pointer;
    display: none;
}
.menu .bar{
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 3px;
    background: var(--dark);
    margin: 5px auto;
    transition: all 0.3s;
}
.menu .bar:nth-child(1),
.menu .bar:nth-child(3){
    background: var(--red);
}

@media (max-width:785px) {
    .navigation{
        z-index: 9999;
        padding: 18px 20px;
    }
    .menu{
        display: block;
    }
    .menu.ativo .bar:nth-child(1){
        transform:  translateY(8px) rotate(45deg);
    }
    .menu.ativo .bar:nth-child(2) {
        opacity: 0;
    }
    .menu.ativo .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu{
        position: fixed;
        right: -100%;
        top: 70px;
        width: 100%;
        height: 100%;
        flex-direction: column;
        background: var(--white);
        gap: -10px;
        transition: 0.3s;
    }
    .nav-menu.ativo{
        right: 0;
    }
    .nav-item{
        margin: 16px 0;
        text-decoration: none;
        display: inline-block;
    }



}

.container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    text-align: center;
    width: 70%;
    margin: 0 auto;
}

.titulocontainer{
    margin-top: 30vh;
    margin-left: 50px;
    margin-bottom: 30px;
    display: flex;
    justify-content: flex-start;
}

.main-detalhes {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

.container-detalhes{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 1;
    padding: 20px;
    width: 80%;
    height: 70%;
    margin: 0 auto;
    margin-top: 50vh;
    margin-bottom: 30vh;
}
.container-detalhes h1{
    margin-bottom: 5%;
}

.container-detalhes a{
        position: absolute;
        bottom: 5%;
        left: 50%;
        transform: translateX(-50%);
        padding-left: 10%;
        padding-right: 10%;
        font-size: 18px;
}
.titulocontainer h1{
    margin-right: 50px;
}

.ladoesquerdo {
    text-align: left;
    width: 70%;
    margin-right: 20px;
}

.ladoesquerdo h1 {
    font-size: 24px;
}

.ladoesquerdo u {
    text-decoration: underline;
}

.editar {
    display: inline-block;
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #ccc;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
}

.container h1 {
    font-size: 28px;
    margin-top: 40px;
}

.container a {
    display: inline-block;
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #73C883;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
}

.container img {
    width: 40%;
}

.voltarp{
    margin: 30px;
    position: absolute;
    top: 85px;
    left: 170px;
}

.voltar{
    margin: 30px;
    position: absolute;
    top: 85px;
    left: 5vh;
}

.containercards{
    margin-left: 150px;

}
.containercards h1{
    margin-bottom: 20px;
}
.cards {
    display: flex;
    flex-wrap: wrap;
}

.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 1;
    padding: 20px;
    width: 300px;
    margin-bottom:20px;
    margin-left: 30px
  }
  
  .card img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .card-content {
    margin-top: 20px;
  }
  
  .card-content h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .card-content a {
    margin-bottom: 10px;
  }
  
  .btn-acessar {
    display: inline-block;
    padding: 10px 20px;
    background-color: #73C883;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
  }
  
    .add-button {
    background-color: white;
    border: 1px solid black;
    color: black;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;

}

.sticker-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9998;
  }
  
  .sticker-button button {
    background-color: #73C883;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
  }
  
  .sticker-button img {
    width: 32px;
    height: 32px;
    color: #fff;
    margin-top: 5px;
  }

.containerform {
    left: 10vw;
    width: 40%;
    height: 80vh;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 45px rgba(0,0,0,0.25);
    transition: 0.5s ease-in-out;
    overflow: hidden;
    margin-top: 60vh;
    margin-bottom: 30vh;

}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.inputpostagem {
    padding: 7px;
    border-radius: 5px;
    border: 1px solid black;
    text-transform: uppercase;
    text-align: center;
}
.form input:hover {
    opacity: 0.6;
}

#salvar{
    background-color: #21e423 ;
    border-radius: 30px;
    border: 1px solid transparent;
    font-size: 16px;
}

.np{
    text-align: center;
    margin-bottom: 30px;
}

.voltar{
 margin: 10px;
 margin-top: 30px;
}

input[type="text"],
input[type="submit"] {
    width: 400px; /* Ajuste o tamanho horizontal conforme necessário */
    padding: 10px;
}

#texto {
    width: 400px; /* Ajuste o tamanho horizontal conforme necessário */
    height: 15vh;
    overflow-wrap: break-word; /* Quebra de linha quando necessário */
    word-wrap: break-word; /* Fallback para navegadores mais antigos */
}
.logo1 {
    display: flex;
    justify-content: center;
}

.logo {
    width: 80px;
    height: 80px;
}

.mainpostagem {
    display: flex;
    height: 85vh;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;

}
